body, html {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding-left: 50px;
}

.custom-input-group {
  width: 70%;
  margin: 10px auto;}

.icon {
  color: rgb(64, 126, 167);
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 9;
}

.custom-nav {
  margin: 0 auto;
}

.main-container {
  width: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
  padding: 0;
  margin: 20px auto;
}

.custom-card-deck {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.cart-container {
  width: 25%;
  display: block;
  margin: 0;
}

.custom-card {
  width: 25%;
  box-sizing: border-box;
  flex: 0 0 23%!important;
  margin: 20px auto;
  text-align: center;
}

.custom-btn {
  font-weight: bold;
}

.ad-container {
  width: 400px;
  position: absolute;
  top: 150px;
  right: 0;
  text-align: center;
}

.ad {
  width: 40%;
  margin: 20px 0;
}

.custom-card-body {
  padding: 10px 0;
}

.custom-card-title {
  font-size: 20px;
  font-weight: bold;
}

.custom-card-text {
  color: rgb(133, 133, 133);
}

.add-icon, .remove-icon {
  cursor: pointer;
}

.add-icon {
  font-size: 34px;
  color: rgb(64, 167, 150);
  margin: 10px auto;
}

.remove-icon {
  font-size: 34px;
  color: rgb(194, 102, 74);
}

.custom-list-group-item {
  width: 85%;
  border: none;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ad-container {
    display: none;
  }
  .main-container {
    width: 90%;
    justify-content: space-between;
  }
  .custom-card-deck {
    width: 65%;
    justify-content: center;
  }
  .custom-card {
    box-sizing: border-box;
    flex: 0 0 35%!important;
    margin: 20px auto;
    text-align: center;
  }
  .cart-container {
    width: 35%;
  }
  .custom-image {
    width: 60px!important;
  }
  .custom-list-group-item {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ad-container {
    display: none;
  }
  .main-container {
    display: block;
    margin: auto;
  }
  .custom-card-deck {
    width: 100%;
    display: block;
  }
  .custom-card {
    width: 80%;
    box-sizing: border-box;
    flex: 1 0 50%!important;
    margin: 20px auto!important;
    text-align: center;
  }
  .cart-container {
    width: 100%;
    margin: 30px auto;
  }
  .custom-image {
    width: 100px!important;
  }
}
